body{
    font-family: "Montserrat";
    text-align: center;
}

h2,h3{
    font-family: "Montserrat-bold";
    line-height: 1.5;  
}

h2{
    font-weight: bolder;
    font-size: 3rem;
}

h3{
    font-size: 3.5rem;  
    font-weight: 900;
}

.big-heading { /* font-family: 'Montserrat, sans-serif';*/
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
}

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.container-1{
    margin: 5% 10%;
    padding: 5%;
}

.download-button{
    margin: 5% 3% 5% 0;
}

#features{
    padding: 7% 17%;
    position: relative;
    z-index: 1;
}

.icon{
    color: #ef8172;
    border-radius: 100%;
}

.icon:hover{
    color:#ff4c68;
    cursor: pointer;
}

.header-3{
    font-family: "Montserrat-bold";
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
    padding: 3%;
}

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

.para-1{
    font-size: 0.9rem;
    color: grey;
}

#press{
    background-color: #ef8172;
    margin-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing{
   padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#title{
    color: white;
    text-align: left;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

@media (max-width:1028px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}

 /*footer*/

    #footer{
        line-height: 3;
    }
    
    .footer{
        color: grey;
    }

    .icon-f{
        margin: 0 1%;
    }